<!--allmov.html-->

{% extends "base.html" %}
{% block title %}All Movies{% endblock %}
{% block body %}
<div class="jumbotron">
  <h1>All Movies</h1>
  <p class="lead"></p></div>
<<form method="POST" action="/addmov">
    <p>
    <!--All fields required-->
    New Movie ID: <input type="text" name="movieID" required> 
    New Movie Name: <input type="text" name="moviename" required> 
    New Movie Year: <input type="text" name="movieyear" required> 
    <!--Optional genre adding-->

    <input type="submit" value="Add"></p>
  </form> 
<br>
<button onclick="goBack()">Back to Staff</button>

<script>
function goBack() {
    window.history.back();
}
</script>

<p>
{% endblock %}

